# Dependencies
/node_modules

# Build output
/dist
/build

# Coverage
/coverage

# Logs
logs
*.log
npm-debug.log*

# Environment files
.env
.env.local
.env.production

# IDE
.vscode/*
!.vscode/extensions.json
.idea

# OS
.DS_Store
Thumbs.db